.main-header {
	height: 56px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.search{
	display: flex;
	border-left: none;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    height: 40px;
    width: 60px;
    box-sizing: border-box;
    justify-content: center;
    border-left: none;
}
.icono-container {
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
    height: 40px;
    width: 60px;
    box-sizing: border-box;
}
.icono {
	width: 24px;
    height: 30px;
}
.icono-especial{

}
svg path{
}
.left-side-division {
	display: flex;
}
.left-side {
	width: 168px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left-side .logo-name {
	display: flex;
    height: 24px;
    width: 90px;
    align-items: flex-end;
}
.logo-name .country {
	font-size: 10px;
	padding-left: 4px;
}
.left-side img{
	margin-right: 1px;
	width: 24px;
	height: 24px;
}
.title {
	font-size: 18px;
    width: 100%;
    font-weight: 700;
    align-items: center;
    display: flex;
    letter-spacing: -2px;
    height: 24px;
}
.center {
	display: flex;
    align-items: center;
    height: 40px;
}
.center input {
	display: flex;
    border: none;
    padding: 0 0 1px 1px;
    outline: none;
    font-size: 14px;
}
.center-input {
	display: flex;
	width: 500px;
    height: 40px;
	border: 1px solid #ccc;
    padding: 2px 6px;
    box-sizing: border-box;
}
.center .icono-search {
    height: 100%;
    width: 24px;
}
.center .icono-voice {
	cursor: pointer;
}
.icono-voice-container {
	display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #F5F5F5;
    margin-left: 4px;
}
.right-side {
	display: flex;
	align-items: center;
}
.right-side .icono-video, .right-side .icono-notification {
	width: 24px
}
.right-side .icono-account {
	padding: 1px 6px;
}
