button:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .05)
}
.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    top: 0;
    height: 56px;
    z-index: 2022;
    box-sizing: border-box;
}
.search{
	display: flex;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    box-sizing: border-box;
    justify-content: center;
    border-left: none;
    height: 40px;
    width: 64px;
}
.icono-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    margin-right: 8px;
}
.icono-container-search {
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
    height: 40px;
    min-width: 63px;
    box-sizing: border-box;
}
.icono-container-search:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .05)
}
.icono {
	width: 24px;
    height: 30px;
}
.icono-especial{

}
svg path{
    
}
.left-side-division {
	display: flex;
    padding-right: 12px;
}
.left-side-division:hover {
    background-color: transparent;
}
.left-side {
	width: 168px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-side .logo-name {
	display: flex;
    height: 24px;
    width: 90px;
    align-items: center;
}
.logo-name .country {
	font-size: 10px;
    padding-left: 4px;
    padding-bottom: 12px;
}
.left-side img{
    margin-right: 1px;
    width: 28px;
    height: 28px;
}
.title {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    align-items: center;
    display: flex;
    letter-spacing: -1px;
    height: 24px;
}
.center {
	display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    flex: 0 1 728px;
    margin: 0 0 0 40px;
}
.center input {
    width: 100%;
    border: none;
    padding: 0 0 1px 1px;
    outline: none;
    font-size: 16px;
}
.center-input-container {
	flex-basis: 525px;
    width: 0;
    margin-left: 32px;
    padding-left: 16px;
}
.center-input {
	display: flex;
    height: 40px;
	border: 1px solid #ccc;
    padding: 2px 6px;
    box-sizing: border-box;
}
.center .icono-search {
    height: 100%;
    width: 24px;
}
.center .icono-voice {
	cursor: pointer;
}
.icono-voice-container {
	display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 40px;
    max-width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .01);
    margin-left: 8px;
}
.right-side {
    min-width: 225px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-side .icono-video, .right-side .icono-notification, .right-side .icono-account {
    width: 28px;
}
.right-side svg {
    width: 60px;
	padding: 0 6px;
}
@media all and (max-width: 656px) {
    .main-header {
        padding: 0 6px;
    }
    .icono-container {
        margin-right: 2px;
    }
    .icono-voice-container {

        background-color: transparent;
    }
    .navigation-left-side {
        padding: 0px 24px 0 8px;
    }
    .center {
    }
    .center-input {
        display: none;
    }
    .search {
        background-color: transparent;
        border: none;
    }
    .icono-container-search {
        min-width: 40px;
        max-width: 40px;
    }
    .icono-search {
        width: 28px;
    }
    .right-side {
        min-width: auto;
    }
}
@media all and (max-width: 480px) {
    .main-header {
        height: 48px;
        box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
    }
    .Navigation-background {
        display: none;
    }
    .navigation-left-side {
        padding: 0 !important;
    }
    .country {
        display: none;
    }
    .left-side {
        height: 48px;
    }
    .left-side-division-total {
        display: none;
    }
    .icono-voice-container {
        display: none;
    }
    .right-side button {
        display: none;
    }
    .right-side button:nth-child(3) {
        display: flex;
    }
    .Sections-container {
        height: 48px !important;
        box-shadow: 0 4px 2px -2px rgb(0 0 0 / 5%);
        margin-top: -8px;
    }
    .Category-container {
        margin: 8px !important;
    }
    .scroll-box {
        margin: 0px 32px !important; 
    }
    .scroll i:nth-child(1) {
        margin-top: 0px;
    }
    .scroll-box-left {
        margin: 0px 32px 0 0;
    }
    .scroll i:nth-child(1) {
        margin-top: 0px !important;
    }
    .scroll i:nth-child(5) {
        margin-top: 0px !important;
    }
}
@media all and (max-width: 335px) {
    .center {
        margin: 0;
    }
}